<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .years}}
<h2>{{ .AcaYear }}</h2>
<h3>{{ Fall.Term }}</h3>
{{range .courses}} 
    <p><strong>{{ course[0]}}</strong></p>
{{end}}

{{end}}

</body>
</html>
